@import "tailwindcss";

/* @theme {
	--text-tiny: 0.625rem;
} */
@custom-variant 2xs {
	@media (max-width: 32rem) {
		@slot;
	}
}
@custom-variant 3xs {
	@media (max-width: 24rem) {
		@slot;
	}
}

@layer utilities {
	.safe-top {
		padding-top: var(--vueuse-safe-area-top, 0px);
	}

	.safe-bottom {
		padding-bottom: var(--vueuse-safe-area-bottom, 0px);
	}

	.safe-left {
		padding-left: var(--vueuse-safe-area-left, 0px);
	}

	.safe-right {
		padding-right: var(--vueuse-safe-area-right, 0px);
	}
}

html {
	scroll-behavior: smooth;
}

body {
    background-color: #222222;
    color: #ffffff;
}

.click-top-shift > * {
    position: relative;
}
.click-top-shift:active > * {
    top: 1px;
}